.career-heading{
    text-align: center;
    margin-top:"5%";
    font-weight: 600;
}

.career_img_2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 8px;
}

.career-text {
    text-align: left;
}

h6 {
    font-weight: bold;
}

.career_graph {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}