#nobelprize-container {
    margin-top: 3%;
}

.nobelprize-heading{
    text-align: center;
    font-weight: 600;
}

.achievement-txt1 {
    text-align: left;
}

.achivement-txt2 {
    padding-top: 3%;
    text-align: left;
}

.einstein_award_png {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}