#biographer-container{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 6%;
}




@media only screen and (max-width: 818px) {
    #biographer-container{
        padding-left: 5%;
        padding-right: 3%;
    }
    
    
}