body {
    font-family: "Inter", sans-serif;
}
/* scroll animation */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.revealed {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.3s ease, transform 1s ease;
}